<div class="row">
  <div class="col-6">
    <h2>My Friends List</h2>
  </div>
  <div class="col-6" align="right">
    <%= link_to 'New Friend', new_friend_path, class: "btn btn-warning" %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">DOB</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td><%= friend.name %></td>
            <td><%= friend.email %></td>
            <td><%= friend.dob %></td>
            <td>
              <%= link_to "<i class='far fa-eye'></i>".html_safe, friend, class: "btn btn-primary" %>
              <%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_friend_path(friend), class: "btn btn-success" %>
              <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
